

<script lang="ts">
	// This page includes the test functions, not visible in the navigation bar.
	import { goto} from '$app/navigation';
	import { PUBLIC_API_URL } from '$env/static/public';

	async function enrollUser(form: FormData) {
		const course_id = form.get('course_id');
		const user_email = form.get('user_email');
		const role = form.get('role');

		const response = await fetch(`${PUBLIC_API_URL}/enroll_user`, {
			method: 'POST',
			credentials: 'include',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				user_email: user_email,
				course_id: course_id,
				role: role
			})
		});
		const js = await response.json();
		goto('/app/overview');
		return { js };
	}
	
	async function inviteUser(form: FormData) {
		const course_id = form.get('course_id');
		const email = form.get('user_email');
		const role = form.get('role');

		const response = await fetch(`${PUBLIC_API_URL}/create_invitation`, {
			method: 'POST',
			credentials: 'include',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify({
				email: email,
				course_id: course_id,
				role: role
			})
		});
		const js = await response.json();
		goto('/app/overview');
		return { js };
	}

	//handles the form bein submitted
	function handleSubmit(e: SubmitEvent) {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		enrollUser(formData);
	}

	function handleInvite(e: SubmitEvent) {
		e.preventDefault();
		const formData = new FormData(e.target as HTMLFormElement);
		inviteUser(formData);
	}
</script>


<h1>Here you can enroll to a course</h1>
<div class="p flex flex-col">
	<form on:submit|preventDefault={handleSubmit}>
		<label>
			Course ID
			<input name="course_id" type="text" />
		</label>
		<label>
			user Email
			<input name="user_email" type="text" />
		</label>
		<label>
			role
			<input name="role" type="text" />
		</label>
		<button>Enroll</button>
	</form>
</div>

<h1>Here you can make an invite to a course</h1>
<div class="p flex flex-col">
	<form on:submit|preventDefault={handleInvite}>
		<label>
			Course ID
			<input name="course_id" type="text" />
		</label>
		<label>
			user Email
			<input name="user_email" type="text" />
		</label>
		<label>
			role
			<input name="role" type="text" />
		</label>
		<button>Enroll</button>
	</form>
</div>
<!-- <form method="POST" action="?/addCourse">
	<label>
		Course ID
		<input name="course_id" type="text" />
	</label>
	<label for="">
		name
		<input type="text" name="name" />
	</label>
	<label>
		Semester
		<input name="semester" type="text" />
	</label>
	<button> submit</button>
</form>


{#if form?.missing}<p class="error">{form?.message}</p>{/if}
		{#if form?.unvalid}<p class="error">{form?.message}</p>{/if} -->
