<script lang="ts">
	import type { PageData } from './$types';
	import { Button } from 'flowbite-svelte';
	import { PUBLIC_API_URL } from '$env/static/public';
	import { goto, invalidate, invalidateAll } from '$app/navigation';
	import { browser } from '$app/environment';
	export let data: PageData;

	//showing done reflections
	let answers: string[] = [];
	function getReflections() {
		//filter on all that belongs to this unit
		let reflections = data.user.reflections.filter(
			(reflection) => reflection.unit_id == data.unit_id
		);

		// get all the answers from the objects
		reflections.forEach((reflection) => {
			answers.push(reflection.body);
		});
	}

	getReflections();

	//list for indexes of questions.. need to render these
	let question_numbers: number[] = [];

	for (let index = 0; index < data.course.questions.length; index++) {
		question_numbers.push(index + 1);
	}

	//return the question Numbers
	function getQuestionNumber() {
		return question_numbers.shift();
	}

	//return the reflection by question
	function getReflectionByQuestion() {
		let answerString = answers.shift();
		if (answerString == undefined) {
			return '';
		}

		return answerString;
	}

	//for submitting reflection
	async function createReflection(form: FormData) {
		let questions = form.getAll('question_id');
		let answers = form.getAll('answer');

		//parse question_id to numbers
		let questions_num = questions.map(function (item) {
			return parseInt(item.toString());
		});

		let promises = [];

		for (let index = 0; index < questions.length; index++) {
			//sends #question_id reflections to backend
			promises.push(
				fetch(`${PUBLIC_API_URL}/reflection`, {
					method: 'POST',
					credentials: 'include',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({
						body: answers[index],
						user_id: data.user.email,
						unit_id: data.unit_id,
						question_id: questions_num[index]
					})
				})
			);
		}

		Promise.all(promises).then(() => {
			if (browser) {
				invalidate('app:layoutUser').then(() => {
					goto(`/app/courseview/${data.course.id}`);
				});
			}
		});
	}

	function handleSubmit(e: SubmitEvent) {
		const formData = new FormData(e.target as HTMLFormElement);
		createReflection(formData);
	}
</script>

<form class="justify-center py-12 pl-1 align-middle md:pl-20" on:submit={handleSubmit}>
	<span class=" text-teal-12 mx-8 flex text-left  text-xl font-bold"
		>Questions for {data.course.id}</span
	>
	<p class="mx-8 my-8 mb-4 max-w-2xl">
		{#each data.course.questions as questionType}
			<div class="mt-10 flex">
				<div class="">
					{getQuestionNumber() + ')'}
				</div>
				<label
					for="question"
					class="text-ms ml-2 mb-2 block font-medium text-gray-900 dark:text-white"
					>{questionType.comment}</label
				>
			</div>

			{#if data.reflected || data.expired}
				<textarea
					id="question"
					name="answer"
					rows="4"
					class="focus:border-teal-12 focus:ring-teal-12 dark:focus:border-teal-12 dark:focus:ring-teal-12 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
					placeholder="Write your thoughts here..."
					value={getReflectionByQuestion()}
					disabled={data.reflected || data.expired}
					style="resize: none"
				/>
			{:else}
				<textarea
					id="question"
					name="answer"
					rows="4"
					class="focus:border-teal-12 focus:ring-teal-12 dark:focus:border-teal-12 dark:focus:ring-teal-12 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400"
					placeholder="Write your thoughts here..."
					style="resize: none"
				/>
			{/if}

			<input name="question_id" bind:value={questionType.id} class="hidden" />
		{/each}
	</p>

	{#if data.reflected}
		<div class="mx-8 my-8 mb-4  flex max-w-2xl flex-col">
			{#if !data.expired}
				<p class="text-teal-12 self-center text-[18px] italic">
					You have already reflected on this unit
				</p>
				<Button
					on:click={() => goto(`/app/courseview/${data.course.id}`)}
					class="bg-teal-9 hover:bg-teal-8 mt-2 self-center "
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="currentColor"
						class="h-4 w-4"
					>
						<path
							stroke-linecap="inherit"
							stroke-linejoin="inherit"
							d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
						/>
					</svg>
					<p class="ml-2">Back to courseview</p>
				</Button>
			{:else}
				<p class="text-teal-12 self-center text-[18px] italic">
					You have already reflected on this unit and the deadline has expired
				</p>

				<Button
					on:click={() => goto(`/app/courseview/${data.course.id}`)}
					class="bg-teal-9 hover:bg-teal-8	 w-full1 mt-2 self-center "
					><svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="2"
						stroke="currentColor"
						class="h-4 w-4"
					>
						<path
							stroke-linecap="inherit"
							stroke-linejoin="inherit"
							d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
						/>
					</svg>
					<p class="ml-2">Back to courseview</p>
				</Button>
			{/if}
		</div>
	{:else if !data.reflected && data.expired}
		<div class="mx-8 my-8 mb-4  flex max-w-2xl flex-col">
			<p class="text-teal-12 self-center text-[18px] italic">
				The deadline for this unit has expired
			</p>
			<Button
				on:click={() => goto(`/app/courseview/${data.course.id}`)}
				class="bg-teal-9 hover:bg-teal-8	 w-full1 mt-2 self-center "
				><svg
					xmlns="http://www.w3.org/2000/svg"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="2"
					stroke="currentColor"
					class="h-4 w-4"
				>
					<path
						stroke-linecap="inherit"
						stroke-linejoin="inherit"
						d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
					/>
				</svg>
				<p class="ml-2">Back to courseview</p>
			</Button>
		</div>
	{:else}
		<div class="mx-8 my-8 mb-4  flex max-w-2xl flex-col">
			<Button type="submit" class=" bg-teal-9 hover:bg-teal-8 w-full1 self-center "
				>Send reflection</Button
			>
		</div>
	{/if}
</form>
